<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it express</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
  <h1> welcome HOME </h1>
    <script src="script.js"></script>
  </body>
</html>