
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, inital-scale=1.0">
    <title>Campgrounds</title>

</head>
<body>
  <h1>All Campgrounds</h1>

  <% for(let campground of campgrounds) {%>
    <li><%=campground.title %><li>
  <%}%>
</body>